<a href="https://colab.research.google.com/github/nSymons1993/PythonStudyGroup/blob/main/Week_1_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Data Types And Operations

# Numbers
Numbers can be either integers or floating point numbers (i.e. decimals).  We can perform any sort of basic mathematical operations on these numbers as below.

In [ ]:
# Addition
1 + 5

3

In [ ]:
# Subtraction
5 - 2

3

In [ ]:
# Multiplication
5 * 5

25

In [ ]:
# Division
6/5

1.2

In [ ]:
# Floor Division (round down to nearest integer)
8 // 3

2

In [ ]:
# Remainders (i.e. modulo)
8 % 3

2

In [ ]:
# Powers
3 ** 3

27

In [ ]:
# More complex expressions, which follow Bracket, Order, Division, Multiplication, Additional and Subtraction order of operations
(5 + 5) * 6 **2

360

# Variables

Variables are containers for storing any type of object in Python.  Everything in Python is an object, we will show how variables can be used to store numbers, but you can literally store anything you want, as we will see... this could include strings, tables, lists arrays, dictionaries, models, packages and so on.

We can create a variable using the assignment "=" operator, which assigns the value on the right to the variable on the left.

In [ ]:
k = 10

We can then perform any operation we want on the object, including the above arithmetic operations.

In [ ]:
k * 10

100

Or assign another variable some function of the original variable's value.

In [ ]:
j = k * 50
j

500

We can also re-assign a variable to some other value, including a function of itself or another variable.

In [ ]:
k = k + j

So now k = 500 + 10

In [ ]:
k

510

You must apply the following rules when naming variables, or Python will throw an error... these rules may or may not apply in other programming languages.


1.   Variable names must not start with a number
2.   No spaces are allowed, use camel case (thisIsAVariable) or snake case (this_is_a_variable)
3. Do not use these symbols: '",<>/?|\()!@#$%^&*~-+
4. It is best practice top use lowercase names
5. Avoid keyworkds such as "list" or "dict"

# Strings
Strings are text data and are stored in Python as a sequence, or an ordered set of letters, which allows us to slice and dice them as wel please.  The usefulness of this concept will become apparent as you use Python more and more.

## Creating a string
A string is created by wrapping a set of characters (e.g. a word or sentence) in single or double quotes.

In [ ]:
"This is a string"

'This is a string'

## Special characters
Special characters are thse that can't be typed on a keyboard, and require an escape sequence which is just a backslash followed by one or more letters.  A full list is avaialable at this link https://python-reference.readthedocs.io/en/latest/docs/str/escapes.html.  The most basic is the new line escape sequence "\n" which can be used as follows.  If you want escape characters to work in colab you need to pass the string into the "print()" function which takes the string as an argument and outputs it to the screen (more on functions later).

In [ ]:
print("This is the first line.\nThis is the second line.")

This is the first line.
This is the second line.

## String Indexing

Similar to numbers above, we can store a string in a variable and then perform operations on it.  The most useful of these will be indexing, which allow us to slice and dice the string.

In [ ]:
a = "This is a string"

For example we can get the first 4th character of the string (n.b. string indexes start at 0, so for a string of length n indexes are bound by [0, n -1] inclusive).  Therefore, when we want to get the 4th character, this is actual indexed at position 3 (0, 1, 2, 3...).

In [ ]:
a[3]

's'

We can also "slice" the string, which returns a subset of the characters from the string, and takes the following form:
`str[start index: end index + 1: step]` where the step is how many characters step by which will be more clear below:

Grab the first 4 characters of the string.

In [ ]:
a[:4]

'This'

Grab the last 8 characters of the string.  Note the use of negative indexing to work backwards from the end of the string.

In [ ]:
a[-8:]

'a string'

Grab the substring starting at the 5th character and ending at the 7th character.

In [ ]:
a[5:7]

'is'

Grab every second character.

In [ ]:
a[::2]

'Ti sasrn'

Or even print the word back-to front.

In [ ]:
a[::-1]

'gnirts a si sihT'

Strings are immutable, meaning once created they cannot be altered but can however be re-assigned a totally new string.  For example, if we tried to change the second character of the above string to an x it will throw an error.

In [ ]:
a[1] = "x"

TypeError: ignored

## String Methods and Attributes

Strings are objects in Python like everything else.  It has a number of built-in methods which can be read in the Python documentation, https://docs.python.org/3/library/stdtypes.html#str.  Some are demonstrated below.

In [ ]:
a.upper()

'THIS IS A STRING'

In [ ]:
a.lower()

'this is a string'

In [ ]:
a.split()

['This', 'is', 'a', 'string']

In [ ]:
a.split(' is ')

['This', 'a string']

In [ ]:
len(a)

16

You can concatenate strings to using the addition operator.

In [ ]:
b = " and this is another string."

In [ ]:
a + b

'This is a string and this is another string.'

# Lists

A list, similar to a string, is a way of storing a sequence in Python, but much more general in that it can not only store text data, but any list of objects you want.

Creating a basic list

In [ ]:
list_one = [0,5,10]

Creating a slightly more complicated list.

In [ ]:
list_two = [0, "this is a string", 3, 10.5, "x.c"]

Then the length of the list is however many variables/objects it contains.

In [ ]:
len(list_two)

5

Indexing and slicing works similar to a string, but instead of treating each character as an index, each distinct comma separated object has its own index.

In [ ]:
list_two[1]

'this is a string'

In [ ]:
list_two[2:]

[3, 10.5, 'x.c']

In [ ]:
list_two[:3]

[0, 'this is a string', 3]

But lists, unlike strings are not mutable, so you can edit them by adding objects to the start or end, or changing an object in the middle.  Note, if adding to a string you need to add the object as another list.

In [ ]:
list_two + ['extra item 1', "extra item 2"]

[0, 'this is a string', 3, 10.5, 'x.c', 'extra item 1', 'extra item 2']

Notice its not a permanent (a.k.a. in-place) change.  To make it permanent you need to reassign the original list to the new list with appended items.

In [ ]:
list_two

[0, 'this is a string', 3, 10.5, 'x.c']

In [ ]:
list_two = list_two + ['extra item 1', "extra item 2"]

In [ ]:
list_two

[0, 'this is a string', 3, 10.5, 'x.c', 'extra item 1', 'extra item 2']

### List Methods

There are a number of methods you can use on a list including:
- `.pop():` removes the last item from a list and returns it (more on what return means when we learn functions)
- `.append():` appends an item to the end of a list
- `.reverse():` reverse the list
- `.sort():` sort a list alphabetically, or ascending for numerals

In [ ]:
list_two = [0, "this is a string", 3, 10.5, "x.c"]
# Pop the last item of the list
list_two.pop()

'x.c'

In [ ]:
# Pop the third item of the list and store it in "pop" variable
pop = list_two.pop(2)

In [ ]:
# Notice the list is popped
list_two

[0, 'this is a string', 10.5]

In [ ]:
# But the htird item, 3, is now stored in the pop variable
pop

3

In [ ]:
# Reverse
list_two.reverse()
list_two

[10.5, 'this is a string', 0]

In [ ]:
list_two.append("x.c")
list_two

[10.5, 'this is a string', 0, 'x.c', 'x.c']

In [ ]:
sort_this_list = [0,10,5,15,25,20,30]
sort_this_list.sort()
sort_this_list

[0, 5, 10, 15, 20, 25, 30]

### Nested Lists

You can also store lists within lists to create matrices, you can create as many nested layers as you want but going beyond two levels is not really necessary generally.

In [ ]:
list_a = [0,2,4]
list_b = [3,6,9]
list_c = [1,3,9]

matrix = [list_a,list_b,list_c]

In [ ]:
matrix

[[0, 2, 4], [3, 6, 9], [1, 3, 9]]

In [ ]:
# Get the second row
matrix[1]

[3, 6, 9]

In [ ]:
# Get the second element of the second row
matrix[1][1]

6

### List Comprehensions

List comprehensions are a particularly useful tool in Python when working with large or complex data sets where you are looking to perform calculations.  They allow you to quickly and systematically construct lists or perform operations on them.  It requires knowledge of for loops, explained later.

Create a list of the cube of 1 to 9

In [ ]:
cubed_ints = [x ** 3 for x in range(1,10)]

In [ ]:
cubed_ints

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
# Or what if we wanted a nested matrix
cubed_ints = [[x ** 3 for x in range(y+1,y+4)] for y in range(0,9,3)]
cubed_ints

[[1, 8, 27], [64, 125, 216], [343, 512, 729]]

# Dictionaries
Dictionaries are another data structure in Python, somewhat different to lists and strings in that they are *mappings* as opposed to *sequences*.  In other languages dictionaries are known as hash tables.

## Constructing a Dictionary

In [ ]:
# Dictionaries are constructed using key:value pairs as seen below
dictA = {'key1' : 'value1', 'key2' : 'value2'}

In [ ]:
# Call values by their key
dictA['key1']

'value1'

In [ ]:
# Dictionaries can also, similar to lists, hold other data structures such as nested lists or dictionaries
dictA = {'key1':123,'key2':[12,23,33],'key3':['stringA','stringB','StringC']}

In [ ]:
# Call values by their key
dictA['key3']

['stringA', 'stringB', 'StringC']

In [ ]:
# Can call an index on that value
dictA['key3'][0]

'stringA'

In [ ]:
# Can then even call methods on that value
dictA['key3'][0].upper()

'STRINGA'

In [ ]:
# We can affect the values of a key as well. For instance:
dictA['key1']

123

In [ ]:
# Subtract 123 from the value
dictA['key1'] = dictA['key1'] - 123

In [ ]:
#Check
dictA['key1']

0

It is also possible to create keys by assignment and/or start with an empty dictionary, and continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
# Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries
Similar to lists, it is possible to nest a dictonary within a dictionary.  These type of structures are common in JSON.

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## A few Dictionary Methods
There are a few usful methods assocated with dictionaries listed below.  A quick Google search can return the rest.

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Tuples
Tuples are similar to lists but are *immutable* which means they can't be changed.  You would use these to store things that shouldn't be changed, such as days of the week, or even things that don't need to be changed since they are much faster to loop and retrieve data from.

## Constrcuting Tuples
The construction of a tuples use () with elements separated by commas. For example:

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

3

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
# Slicing just like a list
t[-1]

2

## Basic Tuple Methods
Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

0

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1

## Immutability
It can't be stressed enough that tuples are immutable.  To drive that point home:

In [ ]:
t[0]= 'change'

TypeError: ignored

You can't even append stuff to them.

In [ ]:
t.append('nope')

AttributeError: ignored

# Sets and Booleans
There are two other object types in Python that we should quickly cover: Sets and Booleans.

## Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function.  For example

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans
Python comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [ ]:
# Set object to be a boolean
a = True

In [ ]:
#Show
a

True


We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [ ]:
# Output is boolean
1 > 2

False